@import '../../utils/colors.scss';
@import '../../utils/media.scss';

.OurCouples {

    .number {
        color: $lightGrey;
    }

    .smaller {
        @media (min-width: $tablet) {
            font-size: 112px;
        }

        @media (min-width: $laptop) {
            font-size: 100px;
            margin-left: 30px;
        }

        @media (min-width: $desktop) {
            font-size: 135px;
        }

        @media (min-width: 1950px) {
            font-size: 176px;
        }
    }

    &-content {

        .main-header {
            @media (min-width: $laptop) {
                margin-left: 2rem;
            }
        }

        &_grid {
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "description"
                "photos";

            & .description {
                grid-area: description;
                display: grid;

                & .content-box {
                    margin: auto 1rem auto 1.5rem;

                    .top-h,
                    .small-h,
                    p {
                        color: white;
                    }

                    .top-h,
                    .small-h {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: .5rem;
                    }

                    .small-h {
                        margin-top: 2rem;
                    }

                    .top-h {
                        @media (min-width: $tablet) {
                            font-size: 22px;
                            margin-bottom: 1rem;
                        }

                        @media (min-width: $laptop) {
                            margin-bottom: 1.5rem;
                        }

                        @media (min-width: $desktop) {
                            font-size: 24px;
                            margin-bottom: 2rem;
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 16px;
                        letter-spacing: -0.05em;
                        margin-bottom: 0;

                        @media (min-width: $laptop) {
                            font-size: 17px;
                        }
                    }

                    a {
                        color: white;
                        text-decoration: underline;

                        &:hover {
                            color: $mediumGrey;
                        }
                    }
                }
            }

            .photos {
                grid-area: photos;
                background-color: rgb(243, 243, 243);
            }

            @media (min-width: $tablet) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            @media (min-width: $laptop) {
                margin-bottom: 3rem;
                width: 100%;
                height: auto;
                grid-template-columns: 2fr 1.2fr;
                grid-template-rows: auto;
                grid-template-areas:
                    "photos description";
            }
        }

        @media (min-width: $laptop) {
            .flipped {
                grid-template-columns: 1.2fr 2fr;
                grid-template-areas:
                    "description photos";
            }
        }
    }
}

.custom-div {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3rem;

    @media (min-width: $laptop) {
        padding: 0 5vw;
        margin-bottom: 5%;
    }

    @media (min-width: $desktop) {
        padding: 0 17vw;
    }

    @media (min-width: $desktopL) {
        padding: 0 22vw;
    }
}