@import '../../utils/media.scss';
@import '../../utils/colors.scss';

.PostPreview {
    position: relative;
    top: -7rem;
    left: -2px;

    &-item {
        background-color: pink;
        margin: 2rem auto 0 auto;
        padding: 2rem;

        @media (min-width: $desktop) {
            width: 58rem;
        }
    }

    @media (min-width: $laptop) {
        top: -3rem;
    }
}