@import '../../utils/media.scss';

.ArrowToTop {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 8000;

    img {
        transform: rotate(180deg);
        width: 3rem;
        height: 3rem;
        opacity: .75;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        @media (min-width: $tabletHorizontal) {
            width: 6rem;
            height: 6rem;
        }
    }

    @media (min-width: $tabletHorizontal) {
        bottom: 5%;
        right: 2%;
    }
}