@import '../../utils/media.scss';
@import '../../utils/colors.scss';

.Navbar {
    width: 100%;

    & .dark-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    &-navigation {
        .navbar {
            padding: 0;

            .bg-div {
                width: 100%;
                text-align: right;
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                padding-top: 1rem;
                padding-right: 1rem;
                padding-bottom: 1rem;

                @media (min-width: $tablet) {
                    display: none;
                }
            }

            .navbar-collapse {
                position: absolute;
                top: 1.5rem;
                left: 0;
                width: 100%;

                .navbar-nav {
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;

                    .nav-link {
                        padding-left: .75rem;
                        padding-right: .75rem;
                        color: white;
                        font-size: 20px;
                        transition: color .4s ease-in-out;

                        &:hover {
                            color: $mediumGrey;
                        }

                        @media (min-width: $tabletHorizontal) {
                            padding-left: 1rem;
                            padding-right: 1rem;
                            font-size: 22px;
                        }

                        @media (min-width: $laptop) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    &-mobile {
        background-color: white;
        position: fixed;
        width: 100vw;
        top: 70px;
        z-index: 1000;
        padding-top: 1rem;
        height: 100vh;
        text-align: center;
        animation: Move 0.7s ease-in-out;

        @keyframes Move {
            from {
                top: -80%;
                background-color: transparent;
            }

            to {
                top: 70px;
                background-color: white;
            }
        }

        & .nav-link {
            font-size: 20px;
            color: $textGrey;
            padding: .75rem;
        }
    }
}